*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col-"]{
    height: 200px;
    background-color: #ffc0cb;
    border: 1px solid;
    text-align: center;
    line-height: 200px;
}

.nested{
    background-color: #f07f80;
    border: 1px solid white;
}